.wrapper-chart{
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6%;
  grid-gap: 1% 1%;
  padding: 3% 3%;
  background: #fff;
  border-radius: 10px;
  min-width: 0;
  min-height: 0;
}

.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
  background: var(--theme-primary);
  min-height: 0;
  min-width: 0;
}
.chart1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.items-button{
  display: flex;
  flex-flow: row wrap;
  grid-column: 1/2;
  grid-row: 2/3;
  justify-content: flex-end;
  overflow: hidden;
} 
.sidebar-input{
  grid-area: "graph-input";
  min-width: 0;
  min-height: 0;

}
.sidebar-history{
  grid-area: "history";
  grid-column: 1/2;
  grid-row: 3/4;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}


@media screen and (min-width: 500px){
  .wrapper-chart{
    display: grid;
    grid-area: a;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6%;
    grid-gap: 1% 1%;
    padding: 3% 3%;
    background: #fff;
    border-radius: 10px;
    min-width: 0;
    min-height: 0;
  }
  
  .items-button{
    display: flex;
    flex-flow: row-reverse wrap;
    grid-column: 3/4;
    grid-row: 4/5;
    justify-content: flex-end;
  } 
  .chart1 {
    grid-column: 1/4;
    grid-row: 1/4;
  }
  .wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1em repeat(4,1fr) 1em;
    grid-template-rows: 2em repeat(2,1fr) 2em;
    background: var(--theme-primary);
    min-height: 0;
    min-width: 0;
    grid-template-areas:
    ". . . . . ."
    ". a a a a ."
    ". a a a a ."
    ". s s s s ."
    ". s s s s ."
    ". . . . . .";
  }
  .wrapper-sidebar{
    display: grid; 
    grid-area: s;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px 10px;
    min-height: 0;
    min-width: 0;
    box-shadow: 10px 14px 80px rgba(34, 35, 58, 0.2);
    background: #fff;
    border-radius: 10px;
    grid-template-areas:
    "graph-input history"
    "graph-input history"
  }

  .sidebar-input{
    grid-area: "graph-input";
    min-width: 0;
    min-height: 0;
  }
  
  .sidebar-input{
    grid-area: "graph-input";
    min-width: 0;
    min-height: 0;
  }
  
  .sidebar-history{
    grid-area: "history";
    grid-column: 2/3;
    grid-row: 1/2;
    min-height: 0;
    min-width: 0;
  }
  
}

@media screen and (min-width: 760px){
  .wrapper-chart{
    display: grid;
    grid-area: a;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6%;
    grid-gap: 1% 1%;
    padding: 3% 3%;
    background: #fff;
    border-radius: 10px;
    min-width: 0;
    min-height: 0;
  }
  .wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    /* grid-gap: 1% 1%; */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1em repeat(3,1fr) minmax(300px, 1fr) 1em;
    grid-template-rows: 2em repeat(4,1fr) 2em;
    background: var(--theme-primary);
    min-height: 0;
    min-width: 0;
    grid-template-areas:
    ". . . . . ."
    ". a a a s ."
    ". a a a s ."
    ". a a a s ."
    ". a a a s ."
    ". . . . . .";
  }
  .wrapper-sidebar{
    display: grid; 
    grid-area: s;
    grid-template-columns: minmax(300px,1fr);
    grid-template-rows: 1fr 2fr;
    grid-gap: 10px 10px;
    min-height: 0;
    min-width: 0;
    box-shadow: 10px 14px 80px rgba(34, 35, 58, 0.2);
    background: #fff;
    border-radius: 10px;
    grid-template-areas:
    "graph-input"
    "history"
    "history";
  }
  .sidebar-input{
    grid-area: "graph-input";
  }
  .sidebar-input{
    grid-area: "graph-input";
    min-width: 0;
    min-height: 0;
  }


  .sidebar-history{
    grid-column: 1/2;
    grid-row: 2/3;
    grid-area: "history";
  }
  .items-button{
    display: flex;
    flex-flow: row-reverse wrap;
    grid-column: 3/4;
    grid-row: 4/5;
    justify-content: flex-end;
    min-width: 0;
    min-height: 0;
  } 
}
